/*** BORDER BOX SIZING ***/

html {
  box-sizing: border-box;
  color: #555;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/*** GLOBAL ***/

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#map {
    width: 100%;
    /* Map height is adjusted dynamically via JS */
    padding: 0;
    margin: 0;
}

.nowrap {
    display: inline-block;
}

/*** HEADER ***/

#header {
    /* Required so that full height is reported for calculation of the
     * map height. See http://stackoverflow.com/a/19235907/857390.
     */
    overflow: auto;

    margin: 0;
    padding: 0.5em;
    position: relative;

    border-bottom: 1px solid #aaa;
}

#header h1 {
    font-size: 110%;
    margin: 0 1em 0 0;
    display: inline;
}

#header label > * {
    vertical-align: middle;
}

#header label input {
    margin: 0 2px 0 0;
}

#header label span {
    margin: 0 10px 0 0;
}

#header :disabled + span {
    color: #999;
}

#header form {
    margin: 0.25em 0 0 0;
    display: inline-block;
}

#btnToggleHeader {
    float: right;
    position: relative;
    top: -0.1em;
    outline: none;
    margin: 0 0 0 0.5em;

    /* The styling matches that of the select2 dropdown box */
    background: none;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.2em 0.5em;
}

#details {
    clear: both;
    display: none;
    overflow: auto;
    margin: 0;
}

#details p {
    margin: 1em 0 0 0;
}

/*** MAP ATTRIBUTION ***/

.leaflet-control-attribution {
    text-align: end;
}

/*** MAP POPUPS ***/

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background-color: #fafafa;
}

.leaflet-popup-content {
    margin: 1em;
}

.leaflet-popup-content h1 {
    font-size: 120%;
    margin-bottom: 0.25em;
}

.leaflet-popup-content p {
    margin: 0;
}

.leaflet-popup-content p.unclassified {
    margin-top: 0.5em;
    font-style: italic;
}

.awesome-marker i {
    font-size: 16px;
    margin-top: 6px;
	margin-left: -1px;
}

table.times, p.times {
    margin-top: 0.75em;
}

table.times th {
    font-weight: normal;
    font-style: italic;
    padding-left: 0;
    padding-right: 0.75em;
}

table.times tr.today * {
    font-weight: bold;
}

/*** CITY DROPDOWN ***/

#dropDownCitySelection {
    width: 8em;
}

.select2 {
    top: -2px;
    margin: 0 4px 0 2px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #555;
}

.select2-dropdown {
    font-size: 80%;
}


/*** META PAGES ***/


.metapage {
    background: #F5F5F3;
    padding: 2em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.metapage header {
    padding: 0.5em 0 !important;
}

.metapage h1 {
    font-size: 2.5em !important;
}

.metapage h2 {
    font-size: 1.8em;
    margin-bottom: 0em;
}

.metapage p {
    line-height: 1.5em;
}

.metapage button {
    margin: 2em 0;
}
